@import "tailwindcss";



@theme{
  --color-btn : #A259FF ;
  --color-text : #FFFFFF ; 
  --color-background : #2B2B2B ;
  --color-BoxBackground: #3B3B3B;
  --color-TextFooter : #CCCCCC;
  --color-icons: #858584;
  --font-space-mono : var(--font-space-mono);
  --scale-number : .9;
  --duration-time : .3 ms;
  
}

body {
  background: var(--color-background);
  color: var(--color-text) ;
  font-family: var(--font-work-sans), sans-serif;
  font-weight: 600;
}



.custom-tabs .ant-tabs-nav-list, .artist-tabs .ant-tabs-nav-list {
  display: flex;
  width: 100%;
}


/* Make each tab take 50% */
.custom-tabs .ant-tabs-tab , .artist-tabs .ant-tabs-tab {
  flex: 1;
  justify-content: center; 
  text-align: center;
  font-size: 22px;
  color: var(--color-icons);
  border: none; 
  border-bottom:none;
  border-radius: 0;
    border-bottom: 2px solid transparent;

}

.custom-tabs .ant-tabs-tab-active, .artist-tabs .ant-tabs-tab-active  {
  color: var(--color-icons) !important; /* Active tab text color */
  font-weight: 600;
  border-bottom: 4px solid var(--color-BoxBackground); /* Active tab bottom border */
}

.custom-tabs .ant-tabs-ink-bar {
  background: var(--color-BoxBackground) !important; /* The animated bottom border (ink bar) */
}
/* Small screens (phones, < 768px) */
@media (max-width: 767px) {
  .custom-tabs .ant-tabs-nav, .artist-tabs .ant-tabs-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Medium screens (tablets, 768px – 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .custom-tabs .ant-tabs-nav, .artist-tabs .ant-tabs-nav{
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Large screens (desktops, ≥ 992px) */
@media (min-width: 992px) {
  .custom-tabs .ant-tabs-nav, .artist-tabs .ant-tabs-nav {
    padding-left: 200px;
    padding-right: 200px;
  }
}
.custom-tabs .ant-tabs-nav::before, .artist-tabs .ant-tabs-nav::before {
  border: none !important; 
}


